body {
  font-family: "Lato";
  font-size: 14px;
  color: white;
  background-image: url(../icons/Bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  box-sizing: border-box;
  margin: auto;
}
.head {
  margin-bottom: 27px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.weth {
  margin-top: 55px;
  display: flex;
  align-items: center;
}
.cloud {
  margin-right: 7px;
}
.cb {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
.table {
  margin-top: 58px;
}
.tbl {
  list-style: none;
}

li {
  display: inline;
  padding: 0 23px 0 0;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  line-height: 17px;
  color: white;
}
.colon {
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.leng {
  display: flex;
  align-items: center;
}
.usa {
  margin-top: 54px;
  margin-right: 11px;
}
.en {
  line-height: 17px;
  margin-top: 60px;
  margin-right: 13px;
  text-transform: uppercase;
}
.vec {
  margin-top: 62px;
}
.ling {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.btn {
  margin-top: 60px;
  text-align: center;
  line-height: 17px;
  background: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  color: white;
  padding: 11px 29px 12px 28px;
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #ed4c5c;
  border: 1px solid transparent;
}
.cost {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  margin-bottom: 38px;
  text-transform: uppercase;
}
p {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  max-width: 540px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 39px;
}
.butt {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ed4c5c;
  text-align: center;
  padding: 17px 52px 16px 53px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 6px;
  letter-spacing: 0.7px;
  margin-bottom: 180px;
  text-transform: uppercase;
}
.butt:hover {
  font-weight: bold;
  color: #ffffff;
  border: 1px solid white;
  background-color: rgba(151, 116, 119, 0.1);
}
