body {
  background-image: url(../icons/Bg.png);
  background-repeat: no-repeat;
  background-attachment: local;
  background-clip: content-box;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.cloud {
  position: absolute;
  width: 29px;
  height: 29px;
  left: 165px;
  top: 55px;
}
.cb {
  position: absolute;
  width: 136px;
  height: 22px;
  left: 201px;
  top: 59px;

  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #ffffff;
}
.table ul {
  position: absolute;
  width: 446px;
  height: 22px;
  left: 498px;
  top: 52px;
  display: flex;
  color: #ffffff;
}
.table li {
  margin: 2%;
}
.table a {
  font-size: 14px;
  line-height: 17px;
  display: block;
  font-family: "Lato";
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;

  color: #ffffff;
}

.usa {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 1056px;
  top: 54px;
}
.en {
  position: absolute;
  width: 32px;
  height: 22px;
  left: 1099px;
  top: 59px;

  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #ffffff;
}
.vec {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1122px;
  top: 62px;
}
.butn {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 1172px;
  top: 50px;
}
.btn {
  border: 1px solid #ffffff;
  border-radius: 6px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  display: block;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
h1 {
  position: absolute;
  width: 578px;
  height: 86px;
  left: 431px;
  top: 257px;

  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;
}
p {
  position: absolute;
  width: 540px;
  height: 124px;
  left: 450px;
  top: 382px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 550;
  font-size: 24px;
  line-height: 150%;
  text-align: center;

  color: #ffffff;
}
.butt {
  position: absolute;
  width: 160px;
  height: 50px;
  left: 640px;
  top: 545px;
  border: 0;
  color: #d52047;
  font-family: "Lato";
  font-weight: 600;
  text-transform: uppercase;
  background: #ffffff;
  border-radius: 6px;
}
